div{
    background-color: tomato;
    padding: 20px;
}
.second{
    background-color: aquamarine;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.update{
    background-color: aquamarine;
    /* display:inline; eta dile prblm kore kn!! */
}